:host{
  display: block;
  width:50%;
  margin:auto;
  margin-top:1rem;
}
.mat-body-1{
  text-align: center;
  font-weight: bolder;
}
.post-image{
  width:100%;
}
.post-image img{
  width:100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
